<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Harborfreight Test Regression Suite" thread-count="1"
	parallel="tests" verbose="10">

	<listeners>
		<listener
			class-name="com.qa.HFT.listeners.ExtentReportListener" />
		<listener
			class-name="com.qa.HFT.listeners.TestAllureListener" />
	</listeners>

	<test name="Login Page Test">

		<classes>
			<class name="com.qa.HFT.tests.LoginPageTest">
				<methods>
					<include name="loginPageTitleTest" />
					<include name="loginPageURLTest" />
					<include name="forgotPwdLinkExistTest" />
					<include name="loginTest" />
				</methods>
			</class>
		</classes>

	</test>
	<test name="Account Page Test">

		<classes>
			<class name="com.qa.HFT.tests.AccountsPageTest">
			</class>
		</classes>

	</test>
	<test name="Registration Page Test">

		<classes>
			<class name="com.qa.HFT.tests.RegPageTest">
			</class>
		</classes>

	</test>
	<test name="ProductDescription Page Test">

		<classes>
			<class name="com.qa.HFT.tests.ProductInfoPageTest">
				<methods>
					<exclude name="productImagesTest" />
					<include name="productHeaderTest" />
					<include name="productBrandNameTest" />
					<exclude name="productAddToCartTest" />
				</methods>
			</class>
		</classes>

	</test>
	<test name="MyCart Page Test">

		<classes>
			<class name="com.qa.HFT.tests.MyCartPageTest">
				<methods>
					<include name="productAddToCartTest" />
					<include name="productTitleOnMyCartTest" />
					<exclude name="productsDeleteMyCartTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Checkout Page Test">
		<classes>
			<class name="com.qa.HFT.tests.CheckoutPageTest">
				<methods>
					<include name="checkOutCCTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name=" HomePage Test">
		<classes>
			<class name="com.qa.HFT.tests.HomePageTest">
			<methods>
					<include name="couponlinkExistTest" />
					<include name="newtoolslinkExistTest" />
					<include name="dealslinkExistTest" />
					<include name="shopbylinkExistTest" />
					<include name="membersonlylinkExistTest" />
					<include name="JoinITClinkExistTest" />
					<include name="creditcardlinkExistTest" />
					<include name="joinourteamlinkExistTest" />
					  <!-- Helpful links section -->
					<include name="giftcardslinktxtExistTest" />
					
				</methods>
			</class>
		</classes>

	</test>

</suite>
